@font-face {
  font-family: Poppins-Regular;
  src: url(fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Poppins-Medium;
  src: url(fonts/Poppins-Medium.ttf) format("truetype");
}

body {
  color: black;
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.slider {
  display: flex;
  position: relative;
  margin-top: 30px;
  justify-content: center;
  border-radius: 30px;
}

.slider-button-prev {
  position: absolute;
  left: 0;
  align-self: center;
}

.slider-button-next {
  position: absolute;
  right: 0;
  align-self: center;
}

footer {
  background-color: #555;
  font-family: Times 'Times New Roman', Times, serif;
  color: wheat;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
}

.mySlides {
  display: none;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

marquee {
  background-color: black;
  border-radius: 20px;
  font-size: 40px;
  color: white;
}

a {
  text-decoration-line: none;
  color: blue;
}

.np-button {
  position: absolute;
  bottom: 50px;
}

.biodiversity {
  color: black;
  font-size: 27px;
  border-radius: 28px;
  margin-bottom: 35px;
}

.politics {
  color: black;
  font-size: 27px;
  border-radius: 28px;
  margin-bottom: 35px;
}

.AboutNepal {
  color: black;
  font-size: 27px;
  border-radius: 26px;
  margin-bottom: 30px;
}

.unification {
  color: black;
  font-size: 27px;
  border-radius: 28px;
  margin-bottom: 25px;
}

hr {
  border: 1px solid black;
  bottom: 12em;
}

h2 {
  font-size: 80px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

iframe {
  border: solid black 5px;
  border-radius: 24px;
  align-self: center;
}

h1 {
  font-size: 80px;
  color: black;
  text-align: center;
}

img {
  height: 400;
}

.learn {
  text-align: center;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
}

.joke {
  font-family: 'Poppins-regular';
  font-size: 1.8em;
}

.np {
  color: black;
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.link {
  border: 5px solid #FFEB3B;
  padding: 10px;
  border-radius: 20px;
  font-size: 2em;
  color: black;
  position: relative;
  background-color: rgba(246, 246, 246, 0.2);
  animation-name: button-animation;
  animation-duration: 2s;
  animation-delay: 2s;
  bottom: 9em;
}

@keyframes button-animation {
  0% {
    background-color: #FFEB3B;
    left: -80px;
  }

  25% {
    background-color: #651fff;
    left: -60px;
  }

  50% {
    background-color: #18ffff;
    left: -40px;
  }

  100% {
    background-color: rgba(246, 246, 246, 0.1);
    left: 0px;
  }
}

.link:hover {
  background-color: yellow;
  color: black;
  border: 2px solid #555;
}