@font-face {
  font-family: Poppins-Regular;
  src: url(fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(fonts/Poppins-SemiBold.ttf) format("truetype");
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  border-radius: 20px;
  font-family: "Poppins-SemiBold";
  background: silver;
  padding: 10px;
  align-self: center;
}

a {
  color: #ff1744;
}